* { margin: 0; padding: 0; }

html {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

body {
    color: #f0f0f0f0;
    background: #050505;
}

a {
    color: #f0f0f0f0; 
}

a:hover {
    color: goldenrod;
}

p {
    margin: 10px 0;
}

.wrapper {
    margin-top: 1vw;
    margin-left: 1vw;
}

header {
    margin-bottom: 2vw;
}

header h2 {
    font-weight: 400;
}

